{% extends "shell.html" %} {% block title %}Add Coffee{% endblock %} {% block
header %}
<form hx-post="/coffee/add" hx-replace-url="/coffee">
  <div class="border-b border-cinnabar pb-5 sm:flex sm:items-center sm:justify-between">
    <input id="title" name="title" type="text" placeholder="Title"
      class="w-full text-5xl font-bold drop-shadow-glow tracking-tight text-cinnabar ring-transparent border-none bg-transparent" />
  </div>
  {% endblock %}

  {% block content %}
  <div class="grid grid-cols-1 gap-3">
    <div class="sm:col-span-3">
      <label for="region" class="block text-sm font-medium leading-6 text-white">Region</label>
      <div class="mt-2">
        <input type="text" name="region" id="region"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <div class="sm:col-span-3">
      <label for="country" class="block text-sm font-medium leading-6 text-white">Country</label>
      <div class="mt-2">
        <input type="text" name="country" id="country"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <div class="sm:col-span-3">
      <label for="altitude" class="block text-sm font-medium leading-6 text-white">Altitude</label>
      <div class="mt-2">
        <input type="number" name="altitude" id="altitude"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <div class="sm:col-span-3">
      <label for="process" class="block text-sm font-medium leading-6 text-white">Process</label>
      <div class="mt-2">
        <input type="text" name="process" id="process"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <div class="sm:col-span-3">
      <label for="variety" class="block text-sm font-medium leading-6 text-white">Variety</label>
      <div class="mt-2">
        <input type="text" name="variety" id="variety"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <div class="sm:col-span-3">
      <label for="grade" class="block text-sm font-medium leading-6 text-white">Grade</label>
      <div class="mt-2">
        <input type="text" name="grade" id="grade"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <div class="sm:col-span-3">
      <label for="roast_level" class="block text-sm font-medium leading-6 text-white">Roast Level</label>
      <div class="mt-2">
        <input type="text" name="roast_level" id="roast_level"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">
      </div>
    </div>
    <button type="submit"
      class="col-span-3 rounded-md border-0 bg-cinnabar py-1.5 mt-2 text-white font-medium leading-6 shadow-sm ring-1 ring-inset ring-cinnabar/10 focus:ring-2 focus:ring-inset focus:ring-state-blue  sm:text-sm sm:leading-6">Submit</button>
  </div>
  {% endblock %}
</form>
